
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 5px 5px 12px #00000035;
    border-radius: 15px;
    overflow: hidden;
    backdrop-filter: blur(4px);
    position: relative;
    flex: 1;
    margin: 1%;


    &_name {
        background-color: red;
        color: white;
        display: inline;
        text-align: end;
        padding: 7px;
        font-size: 4vh;
        font-weight: bold;
        font-family: roboto;
        position: absolute;
        top: 0;
        right: 0;
        width: 25%;
        background-color: #1a3e78;
        color: #ffcc10;
    }

    &_img {
        max-width: 100%;
        max-height: 100%;
    }
}

@media screen and (max-width: 767px) {
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 5px 5px 12px #00000035;
        border-radius: 15px;
        overflow: hidden;
        backdrop-filter: blur(4px);
        position: relative;
        width: 90%;


    }

    .card_img {
        max-width: 55%;
        max-height: 55%;
    }

    .card_name {
        background-color: red;
        color: white;
        display: inline;
        text-align: end;
        padding: 7px;
        font-size: 1.7vh;
        font-weight: bold;
        font-family: roboto;
        position: absolute;
        width: 30%;
    }
}